.footer-main {
  background-color: var(--darkBlue);
}
.footer-logo {
  width: 80%;
  height: auto;
}
.footer-details {
  color: white;
  font-size: 12px;
}
.footer-details i {
  margin-right: 10px;
}
.footer-details p {
  margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .footer-logo {
    width: 50% ;
    max-height: auto;
  }
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 1px solid white;
}
.footer-links a p {
  margin-bottom: 6px;
}
@media screen and (min-width:500px) and (max-width: 768px) {

  .footer-logo {
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer-details{
    padding-top: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-details, .footer-links a p{
    font-size: 16px !important;
  }
}

/* for mobile */