.product-card-img {
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  object-fit: contain;
}
.product-card-color {
  color: var(--darkBlue) !important;
}

.product-card-brandName {
  color: var(--darkBlue);
  font-size: 10px;
  margin-bottom: 2px;
}
.product-card-description {
  color: var(--darkBlue);
  font-size: 8px;
}
.product-card-body {
  background-color: #ffffff;
  border-radius: 5px;
  bottom: 10px;
  padding: 5px 15px !important;
}
.product-card-heading {
  font-size: 16px;
}
.product-card {
  border-radius: 5px !important;
  
}
.product-card-col {
  margin-bottom: 15px;
}
.product-card-btn {
  background-color: var(--lightBlue) !important;
  width: 50% !important;
  font-size: 12px !important;
  border: none !important;
}
.product-card-btn:hover {
  filter: brightness(.8);
}
.product-card-delete-btn {
  background-color: #e23836 !important;
  text-align: start !important;
  color: white !important;
  width: 45%;
  margin-right: 5%;
  font-size: 16px !important;
  border: none !important;
  margin-top: 5px;
}
.product-card-update-btn{
  
  background-color: rgb(0, 158, 16) !important;
  text-align: start !important;
  color: white !important;
  width: 45%;
  margin-right: 5%;
  font-size: 16px !important;
  border: none !important;
  margin-top: 5px;
}
.offcanvas-body {
}
.offcanvas-header {
}
.btn-close {
  color: black !important;
  margin-top: 0px !important;
  
}
.product-card-delete-btn:hover {
  background-color: #8d1715 !important;
  color: white !important;
  border: 1px solid white !important;
}

.product-card-img.loading {
  opacity: 0;
  transition: opacity 0.3s ease; /* Adjust the duration and easing as needed */
}
/* @media screen and (min-width: 992px) and (max-width: 1060px) {
  .product-card-btn {
    font-size: 7px !important;
  }
  .product-card-delete-btn {
    font-size: 7px !important;
  }
} */

@media screen and (max-width: 1100px) {
  .product-card-img {
    height: 120px !important;
  }
  
}.product-card {
  height: 350px !important;
}
@media screen and (max-width: 992px) {
  .product-card {
    height: 310px !important;
  }
}
@media screen and (max-width: 992px) {
  .product-card {
    height: 310px !important;
  }
}
@media screen and (min-width: 1000px) {
  .product-card-description {
    font-size: 12px;
  }
  .product-card-brandName
  {
    font-size: 12px;
  }
}


@media screen and (max-width: 680px) {
  .product-card-img {
    height: 110px !important;
  }
  .product-card {
    height: 280px !important;
  }
}
@media screen and (max-width: 380px) {
  .product-card-brandName {
    font-size: 8px;
  }
  .product-card-description {
    font-size: 6px;
  }
  .product-card-heading {
    font-size: 10px;
  }
  .product-card {
    height: 230px !important;
  }
  .product-card-img {
    height: 80px !important;
  }
  .product-card-btn {
    width: 100% !important;
  }
}
