.search-bar {
    background-color: white !important;
    color: black !important;
    height: 30px;
  }
  .search-bar::placeholder {
    color: black !important;
  }
  .search-bar-text {
    background-color: black !important;
    font-weight: 500 !important;
    color: white !important;
    z-index: 2;
  }
  