.contactUs-description{
    text-align: center;
}
  .contact-us-submit-button button
  {
    border: 1px solid #00d019;
    color: #00d019;
    width: 100%;
  }
@media screen and (max-width:576px)
{
    .send-msg-btn{
        background-color: var(--success) !important;
        font-size: 10px !important;
    }
    .c-formLabels{
        font-size: 15px !important;
    }
    .c-formText::placeholder{
        font-size: 8px !important;
    }
}

@media screen and (max-width:992px) and (min-width:768px){

    .contactUs-description{
        font-size:10px;
    }
}