.contactUs-description{
    text-align: center;
}
.send-msg-btn{
    background-color: #00bc00 !important;
    width: 50% !important;
}
.Heading{
    color: #1396D8;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}


@media screen and (max-width: 1040px) {
    .Heading{
        font-size: 35px;
    }
}
@media screen and (max-width: 992px) {
    .Heading{
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .Heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .Heading{
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    .Heading{
        font-size: 10px;
    }
}
@media screen and (max-width:768px)
{
    .contactUs-description{
        font-size: 8px;
    }
}
@media screen and (max-width:300px)
{
    .contactUs-description{
        font-size: 6px;
    }
}
@media screen and (max-width:576px)
{
    .send-msg-btn{
        background-color: #00bc00 !important;
        font-size: 10px !important;
    }
    .c-formLabels{
        font-size: 15px !important;
    }
    .c-formText::placeholder{
        font-size: 8px !important;
    }
}

@media screen and (max-width:992px) and (min-width:768px){

    .contactUs-description{
        font-size:10px;
    }
}