.Heading{
    color: #1396D8;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}


@media screen and (max-width: 1040px) {
    .Heading{
        font-size: 35px;
    }
}
@media screen and (max-width: 768px) {
    .Heading{
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .Heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .Heading{
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    .Heading{
        font-size: 10px;
    }
}