.home-product-card-img {
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  object-fit: contain;
}
.home-product-card-color {
  color: #030f2b !important;
}

.home-product-card-brandName {
  color: #030f2b;
  font-size: 13px;
  margin-bottom: 2px;
}
.home-product-card-description {
  color: #030f2b;
  font-size: 10px;
}
.home-product-card-body {
  background-color: #ffffff;
  border-radius: 5px;
  bottom: 10px;
  padding: 5px 15px !important;
}
.home-product-card-heading {
  font-size: 20px;
}
.home-product-card {
  border-radius: 5px !important;
  width: 220px;
}
.home-product-card-col {
  margin-bottom: 15px;
}
.home-product-card-btn {
  background-color: #1396d8 !important;
  width: 50% !important;
  font-size: 15px !important;
  border: none !important;
}
.home-product-card-btn:hover {
  background-color: #0c6592 !important;
}
.home-product-card-delete-btn {
  background-color: #e23836 !important;
  text-align: start !important;
  color: white !important;
  width: 45%;
  margin-right: 5%;
  font-size: 16px !important;
  border: none !important;
  margin-top: 5px;
}
.home-product-card-update-btn {
  background-color: rgb(0, 158, 16) !important;
  text-align: start !important;
  color: white !important;
  width: 45%;
  margin-right: 5%;
  font-size: 16px !important;
  border: none !important;
  margin-top: 5px;
}
.offcanvas-body {
}
.offcanvas-header {
}
.btn-close {
  color: black !important;
  margin-top: 0px !important;
}
.home-product-card-delete-btn:hover {
  background-color: #8d1715 !important;
  color: white !important;
  border: 1px solid white !important;
}

.home-product-card-img.loading {
  opacity: 0;
  transition: opacity 0.3s ease; /* Adjust the duration and easing as needed */
}
@media screen and (max-width: 1000px) {
  .home-product-card-img {
    height: 120px !important;
  }
  .home-product-card {
    height: 300px !important;
  }
}
.home-product-card {
  height: 260px;
  overflow-y: hidden;
}
@media screen and (min-width: 1000px) {
  .home-product-card-description {
    font-size: 12px;
  }
  .home-product-card-brandName {
    font-size: 12px;
  }
  .home-product-card {
    height: 340px !important;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 680px) {
  .home-product-card-img {
    height: 110px !important;
  }
}
