.carousel-indicators [data-bs-target] {
  width: 0px !important;
}
.offer-img {
  height: 220px !important;
  object-fit: cover;
  border-radius: 10px !important;
  object-fit: contain;
}
.offer-productName {
  font-weight: 800;
  color: var(--blue);
  font-size: 32px;
}
.offer-brandName {
  color: var(--blue);
  font-size: 18px;
}
.offer-text {
  font-size: 14px;
  color: var(--blue);
}
.offer-actions button{
margin: 0px 10px

}
.ant-popconfirm-buttons > button.ant-btn.css-dev-only-do-not-override-910b9e.ant-btn-primary.ant-btn-sm
{
  background-color: var(--danger) !important;
}
.ant-popconfirm-buttons > button.ant-btn.css-dev-only-do-not-override-910b9e.ant-btn-default.ant-btn-sm
{
  color: black !important;
}
.offer-actions-delete:hover{
  border: 1px solid red !important;
  color: red !important;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.114));
}
.offer-actions-edit:hover{
  border: 1px solid rgb(24, 210, 0) !important;
  color: rgb(24, 210, 0) !important;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.114));
}
.offer-actions-delete{
  border: 1px solid red;
  color: red;
  background-color: white !important;
}
.offer-actions-edit{
  border: 1px solid rgb(24, 210, 0);
  color: rgb(24, 210, 0);
  background-color: white !important;
}
.offer-subHeading {
  font-weight: 700;
  color: var(--blue);
  font-size: 26px;
}
.flavorButtons {
  border: 1px solid var(--darkGrey);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
.offer-description
{
  
}
@media screen and (max-width: 660px) {
  .offer-productName {
    font-size: 26px;
  }
}
/*------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 820px) {
  .offer-subHeading {
    font-size: 14px;
  }
}
@media screen and (max-width: 568px) {
  .offer-img {
    height: 140px !important;
    margin-bottom: 20px;
  }

  .offer-features {
    font-size: 8px;
  }
  .offer-subHeading {
    font-size: 14px;
  }
  .offer-btns {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 820px) and (min-width: 576px) {
  .offer-subHeading {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) and (min-width: 576px) {
  .offer-img {
    width: 230px !important;
  }
}

@media screen and (max-width: 1100px) and (min-width: 870px) {
  .offer-img {
    width: 270px !important;
  }
}

.carousel-control-prev,.carousel-control-next{
  display: none !important;
}