.nav-btn {
  color: black !important;
  background-color: transparent !important;
  border: none !important;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  width: 100px;
}
.our-products-image {
  width: 100%;
  height: auto;
}

.navbar-row {
  background-color: var(--grey);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .nav-btn {
   font-size: 12px !important;
  }
}@media screen and (min-width: 500px) {
  .nav-btn {
    width: 120px !important;
  }
}

@media screen and (min-width: 920px) {
  .nav-btn {
    width: 150px !important;
  }
}

.nav-btn-active {
  background-color: var(--blue) !important;
  border-radius: 10px;
  font-weight: 400;
  color: white !important;
}
/* 
========================
      slider
========================
*/
.wrapper {
  display: flex;
  overflow-x: auto;
}
.wrapper-item {
  width: 200px !important;
  text-align: center;
}
.wrapper::-webkit-scrollbar {
  height: 0px;
}
/* 
========================
      BUTTON ONE
========================
*/
.nav-btn {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.nav-btn span {
  transition: all 0.3s;
}
.nav-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--blue);
  border-bottom-color: var(--blue);
  transform: scale(0.1, 1);
}
.nav-btn:hover span {
  letter-spacing: 2px;
}
.nav-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.nav-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.nav-btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
