.search-bar {
  margin-bottom: 10px;
}
.search-bar button {
  background-color: black;
  color: white !important;
  font-weight: 500;
}
.search-bar .ant-input-affix-wrapper-focused,.ant-input-affix-wrapper {
  border-color: var(--darkBlue) !important;
}

.search-bar .ant-input-search-button {
  border-color: rgb(0, 0, 0) !important;
}