.accordion-button {
  font-size: 16px !important;
  background-color: #05225c;
  color: white;
  padding: 10px 20px !important;
}
.sidebar-accordion-heading button {
  font-size: 16px !important;
  background-color: #05225c;
  color: white;
  padding: 10px 20px !important;
}
.accordion-button:not(.collapsed) {
  font-size: 16px !important;
  background-color: #05225c !important;
  color: white !important;
  padding: 10px 20px !important;
}
.accordion-button::after {
  color: white !important;
}
.search-bar{
  font-size: 10px !important;
}
.list-group-item a p {
  color: #111111;
  margin: 0px;
}
.list-group-item a {
  text-decoration: none;
}
.list-group-item:hover {
  background-color: #ececec;
}
.list-group-item a p:hover {
  font-weight: 600;
}
.accordion-button {
  --bs-accordion-btn-icon: url(data:image/svg + xml;charset=utf-8,%3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%236ea8fe"%3E%3Cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E);
}
.accordion-button:after {
  --bs-accordion-btn-icon: url(data:image/svg + xml;charset=utf-8,%3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%236ea8fe"%3E%3Cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E);
}

@media screen and (min-width:768px){
    .sidebar-nav-categories{
        font-size: 10px;
    }
}