
.color-black{
  color: #111111 !important;
}
.color-darkBlue{
  color: #030F2B !important;
}
.color-blue{
  color: #05225C !important;
}
.color-lightBlue{
  color: #1396D8 !important;
}
.color-darkGrey{
  color: #9B9B9B !important;
}
.color-grey{
  color: #D3D3D3 !important;
}
.color-white{
  color: #efefef !important;
}
.color-red{
  color: #880000 !important;
}



.drop-shadow{
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.602));
}

.custom-container {
  max-width: 1720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

 .fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}